<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266543002303-habongvfsbt1m1cgibb2l378fncgmhuq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266543002303-habongvfsbt1m1cgibb2l378fncgmhuq</string>
	<key>API_KEY</key>
	<string>AIzaSyAI4bzfAbFFlq5-BL5BsKZvW2xXj6py5oo</string>
	<key>GCM_SENDER_ID</key>
	<string>266543002303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.origogi.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-b6b47</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-b6b47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266543002303:ios:458a28d71fac4f458f0c0a</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-b6b47.firebaseio.com</string>
</dict>
</plist>